* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
    background-color: #a3d8d1;
}


.game {
    width: 700px;
    height: 600px;

    background-color: #fff;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #ebf4f8;
    border: 8px solid #1b1464;
    z-index: 2;

    overflow: hidden;
}

.game-back {
    width: 770px;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1bbfa0;
    z-index: 1;
    border: 8px solid #1b1464;
    
}

.timer-wrapper {
    position: relative;
}

.timer {
    background-color: #14ceae;
    border: 8px solid #1b1464;
    border-radius: 10px;
    width: 830px;
    height: 85px;
    position: absolute;
    left: 50%;
    top: 75px;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.timer-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 750px;
    height: 44px;
    border: 8px solid #1b1464;
    border-radius: 10px;
    background-color: #ddc643;
    
    /* animation: timer 30s linear;
    animation-fill-mode: forwards; */
}

.doll {
    width: 60px;
    margin: 2px;
}

.alarm {
    width: 50px;
}

.game__dolls-container {
    display: flex; 
    flex-wrap: wrap-reverse; 
    justify-content: center; 
    align-items: center;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    overflow: hidden;
  }


.game__crane {
    position: absolute;
    width: 100px;
    margin: 0 5px;
    bottom: 400px;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    animation: crane-move 0.8s ease-in-out infinite;
}

@keyframes crane-move {
    0% {
        left: 0;
    }
    50% {
        left: 100%;
    }
    100% {
        left: 0;
    }
  }