* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
    background: linear-gradient(-45deg, #E2E2E2, #C9D6FF);
    
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
}


.game {
    background-color: #fff;
    width: 60%;
    height: 75%;
    border-radius: 20px;
}

.game__timer {
    width: 100%;
    height: 20px;
    padding: 30px 0;
    border: 1px solid #000;
}

.dolls-container {
    width: 100%;
    height: 100%;
}

.dolls {
    width: 100px;
}

/* .joystick {
    width: 60%;
    height: 15%;
    margin-top: 20px;
    background-color: #fff;
} */